*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Electrolize', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 20, 20);
}

.header {
    width: 100%;
    height: 90px;
    background-color: rgb(0, 0, 0);
    display: block;
}

.inner_header {
    width: 75%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.username {
    height: 100%;
    display: table;
    float: left;
}

.username h1{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.main_text {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 25px;
    font-size: 24px;
    height: 300px;
}

.main_text h1 {
    font-size: 28px;
}

.main_text p {
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.about_me {
    background-color: rgb(109, 23, 23);
}

.interests {
    background-color: rgb(23, 32, 109);
}