@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Romanesco&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Romanesco', cursive;
    height: 2340px;
    color: rgb(255, 255, 255);
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(20, 20, 20);
}

.header {
    top: 0;
    position: fixed;
    font-family: 'Luxurious Roman', cursive;
    width: 100%;
    height: 90px;
    background-color: rgb(0, 0, 0);
    display: block;
}

.inner_header {
    width: 75%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.username {
    height: 100%;
    display: table;
    float: left;
}

.username h1{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.about_me .main_text {
    color: rgb(7, 7, 49);
    margin-left: 3%;
    margin-right: 68%;
    padding-top: 65px;
    padding-bottom: 75px;
    font-size: 28px;
    height: auto;
}

.main_text h1 {
    font-size: 30px;
}

.main_text p {
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

.main_text ul {
    font-size: 24px;
    margin-left: 8%;
}

.about_me {
    background-image: url("images/scroll.png");
    background-size: contain;
    margin-top: 8%;
    margin-left: 15%;
    background-repeat: no-repeat;
}